@import "~bootstrap/scss/bootstrap.scss";

// General Styles

body {
    background-color: #1abc9c;
}

h1 {
    margin: 5px;
    padding: 5px;
    font-size: 60px;
}

// Class Styles

.trafficlight {
    width: 125px;
    max-width: 700px;
    margin: auto;
    margin-top: 10px !important;
}

.border {
    border-width: 10px !important;
}

.stick {
    width: 25px;
    max-width: 700px;
    margin: auto;
    height: 250px;
    border-top: 2px black;
}

.highlight {
    box-shadow: 0 0 20px 5px
}
